.logo {
        background-image: url('images/carforce_black_stacked_t.png');
        background-size:auto;
        width:160px;
        height:101px;
}

#result1 #result2 #result3 {
    margin-bottom: 20px;
}

#dimScreen{
    padding:40px 40px 40px 40px;
    margin:40px;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}
/*
@import url('/assets/bootstrap.css');
@import url('/assets/bootstrap-theme.css');
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
</style>
*/
