.logo {
        background-image: url('images/carforce_black_stacked_t.png');
        background-size:auto;
        width:160px;
        height:101px;
}

/*
@import url('/assets/bootstrap.css');
@import url('/assets/bootstrap-theme.css');
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
</style>
*/
