<h2 id="title">Car Force</h2>
{{data}}

<div id="result1"></div>
<br/>
<div id="result2"></div>
<p><button class="btn btn-default" id="getUserButton">Get User</button></p>
<br/>
<div id="result3"></div>
<p><button class="btn btn-default" id="getVehicleButton">Get Vehicles</button></p>
<br/>
<div id="result4"></div>
<br/>
<div id="result5"></div>
<br/>
