<h2 id="title">Car Force</h2>

{{data}}

<div id="result1"></div>
<br/>
<div id="result2"></div>
<p><button id="getUserButton">Get User Info</button></p>
<br/>
<div id="result3"></div>
<p><button id="getVehicleButton">Get Vehicle Info</button></p>
<br/>
<div id="result4"></div>
<br/>
<div id="result5"></div>
<br/>
